@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/nunito-v12-latin-regular.eot');
  src: local('Nunito Regular'), local('Nunito-Regular'),
    url('../assets/fonts/nunito-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/nunito-v12-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/nunito-v12-latin-regular.woff') format('woff'),
    url('../assets/fonts/nunito-v12-latin-regular.ttf') format('truetype'),
    url('../assets/fonts/nunito-v12-latin-regular.svg#Nunito') format('svg');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/nunito-v12-latin-700.eot');
  src: local('Nunito Bold'), local('Nunito-Bold'),
    url('../assets/fonts/nunito-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/nunito-v12-latin-700.woff2') format('woff2'),
    url('../assets/fonts/nunito-v12-latin-700.woff') format('woff'),
    url('../assets/fonts/nunito-v12-latin-700.ttf') format('truetype'),
    url('../assets/fonts/nunito-v12-latin-700.svg#Nunito') format('svg');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/nunito-v12-latin-900.eot');
  src: local('Nunito Black'), local('Nunito-Black'),
    url('../assets/fonts/nunito-v12-latin-900.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/nunito-v12-latin-900.woff2') format('woff2'),
    url('../assets/fonts/nunito-v12-latin-900.woff') format('woff'),
    url('../assets/fonts/nunito-v12-latin-900.ttf') format('truetype'),
    url('../assets/fonts/nunito-v12-latin-900.svg#Nunito') format('svg');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/orbitron-v14-latin-700.eot');
  src: local(''),
    url('../assets/fonts/orbitron-v14-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/orbitron-v14-latin-700.woff2') format('woff2'),
    url('../assets/fonts/orbitron-v14-latin-700.woff') format('woff'),
    url('../assets/fonts/orbitron-v14-latin-700.ttf') format('truetype'),
    url('../assets/fonts/orbitron-v14-latin-700.svg#Orbitron') format('svg');
}