$colors: ("variables": #fff,
    //"navbar__title": rgba(200, 200, 200, 0.8),
    "navbar__title-active": rgba(255, 255, 255, 1),
    "navbar__title-inactive": rgba(207, 196, 196, 0.8),
    "navbar__title-hover": rgba(255, 255, 255, 1),
    "navbar__logo-hover": rgba(200, 200, 200, 0.8),

    "hero__image-opacity": rgba(49, 49, 49, 0.7),
    "hero__title": rgba(255, 255, 255, 1.0),
    "hero__sub-title": rgb(235, 235, 235),

    "button__shadow": rgba(12, 12, 12, 0.1),

    "theme__primary": rgba(37, 37, 38, 1.0),
    "theme__secondary": rgba(13, 13, 13, 1.0),
    "text__title": rgba(217, 217, 217, 1.0),
    "text__primary": rgba(217, 217, 217, 1.0),
    "text__subtitle":rgb(160, 160, 160),
    "text__secondary":rgb(160, 160, 160),
    "text__dark-subtitle": rgba(89, 89, 89, 1.0),

    "text__btc": rgb(39, 36, 39),
    "text__btc-subtitle": rgb(78, 73, 78),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$breakpoints: (first-width: 1300px,
    second-width: 1150px,
    third-width: 800px,
    fourth-width: 630px,
);

@function width($width-name) {
    @return map-get($breakpoints, $width-name);
}