.devices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 10%;
    text-align: center;

    .devices__title {
        font-size: 3.5rem;
        margin: 0;

        &.dark {
            color: color("text__title");
        }
    }

    .devices__subtitle {
        font-size: 1.3rem;
        padding: 1.5rem 0 1rem;

        &.dark {
            color: color("text__subtitle");
        }
    }

    .devices__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .device {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            flex-wrap: wrap;

            .device__image {
                height: 6rem;
                margin-bottom: 1rem;

                &.dark {
                    filter: invert(100);
                }
            }

            h2 {
                &.dark {
                    color: white;
                }
            }
        }
    }
}