.products {
    min-height: 100vh;
    width: 100vw;
    background-color: color("text__title");
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: white;
    padding: 3rem 4rem;
    color: color("text__title");
    border-radius: 2rem;
    box-shadow: 6px 6px 20px -8px rgba(0, 0, 0, 0.25);
    margin: 3%;
}

.product__image {
    border-radius: 1.8rem;
    height: 15rem;
    box-shadow: 6px 6px 20px -8px rgba(0, 0, 0, 0.5);
}

.product__image--more-margin {
    border-radius: 3.7rem;
}

.product__title {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-top: 1rem;
}

.product__device {
    height: 2rem;
    filter: invert(.2);
    margin: 1rem .4rem;
}


.product--first {
    @media screen and (max-width: width(second-width)) {
        margin-top: 10rem;
    }
}

@media screen and (max-width: width(second-width)) {
    .products {
        flex-direction: column;
    }
}