@mixin btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    transition: all 0.2s ease 0s;
    position: relative;
    cursor: pointer;

    .btn__image {
        height: 1rem;
        filter: invert(100);
        margin: 0 .5rem;
        transition: all .5s ease;
    }

    &:hover {
        background-color: white;
        color: black;
        box-shadow: 0.5rem 0.5rem 0.3rem 0.2rem color("button__shadow");

        .btn__image {
            height: 1rem;
            filter: invert(0);
            margin-left: .5rem;
            transform: translateX(.5rem);
        }
    }
}

@mixin btn--dark {
    @include btn;

    border-color: color("theme__primary");
    color: color("theme__primary");

    &:hover {
        background-color: color("theme__primary");
        color: color("text__primary");
    }
}

@mixin btn--fill {
    @include btn;

    background-color: white;
    color: color("theme__primary");

    &:hover {
        background-color: rgb(197, 197, 197);
        border-color: rgb(197, 197, 197);
    }
}

@mixin btn--fill-dark {

    @include btn--fill;
    border-color: color("theme__primary");
    background-color: color("theme__primary");
    color: color("text__primary");

    &:hover {
        border-color: color("theme__secondary");
        background-color: color("theme__secondary");
        color: color("text__primary");
    }
}

.btn {
    @include btn;
}

.btn--dark {
    @include btn--dark;
}

.btn--fill {
    @include btn--fill;
}

.btn--fill-dark {
    @include btn--fill-dark;
}